site_name: QtFaceAuth - Documentación
theme:
  name: material
  palette:
    primary: deep purple
    accent: indigo
  features:
    - navigation.tabs
    - content.code.copy

plugins:
  - search
  - mermaid2

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid

nav:
  - Inicio: index.md
  - Arquitectura: architecture.md
  - Base de Datos: database.md
  - Seguridad (Grado Militar): security.md
  - Diseño UI:
      - Mapa General: ui_design/index.md
      - Diseños Verticales: ui_design/vertical.md
      - Diseños Horizontales: ui_design/horizontal.md
      - Submenús: ui_design/submenus.md
      - Specs & Componentes: ui_design/specs.md
  - Instalación: installation.md
  - Manual de Uso: user_guide.md
  - Especificación Técnica: technical_specs.md
  - Plan de Pruebas (QA): testing_plan.md
